// app global css in SCSS form

body {
  // #0d070a
  --q-dark-page: rgb(17, 19, 25);
  --sakura: #f27fb5;
}

.c--main,
.text-main {
  color: #f27fb5;
}
.text-main-2 {
  color: #f3d3e2;
}
.text-main-3 {
  color: #f8c1d5;
}
.text-main-4 {
  color: #fbe0ef;
}
.\!text-main-2 {
  color: #f3d3e2 !important;
}
.\!text-main-3 {
  color: #f8c1d5 !important;
}
.\!text-main-4 {
  color: #fbe0ef !important;
}
.hover\:\!text-main-3:hover {
  color: #f8c1d5 !important;
}
.text-yellow {
  color: #fdd835;
}
.text-secondary {
  color: #dcdce6;
}

.\!text-main {
  color: #f27fb5 !important;
}

.text-blue-x {
  color: #32aaff;
}

.bg-dark-page {
  background-color: var(--q-dark-page, #121212) !important;
}

.bg-dark-menu {
  background-color: rgb(20, 22, 27) !important;
}

.bg-main {
  background-color: #f27fb5 !important;
}

.bg-main-2 {
  background-color: #f3d3e2 !important;
}
.bg-main-3 {
  background-color: #f8c1d5 !important;
}
.bg-main-4 {
  background-color: #fbe0ef !important;
}

.children\:before\:block > *:before {
  display: block !important;
}

.desktop {
  .scrollbar-custom {
    --yt-spec-text-secondary: #aaa;
    &::-webkit-scrollbar {
      width: 16px;
    }
    &::-webkit-scrollbar-thumb {
      height: 56px;
      border-radius: 8px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: var(--yt-spec-text-secondary);
    }
    &::-webkit-scrollbar-thumb {
      height: 56px;
      border-radius: 8px;
      border: 4px solid transparent;
      background-clip: content-box;
      background-color: hsl(0, 0%, 67%);
    }
  }

  .scrollbar-custom-light {
    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
      height: 12px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #323232;
      transition: background 0.2s ease-in-out;
      border: 3px solid transparent;
      background-clip: content-box;
      // background-color: #e5e7eb;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}


.text-shadow-menu {
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.m-transparency {
  @apply bg-transparent;
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.q-card {
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.15);
  // box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 40%)
}

.q-card.rounded-xl {
  border-radius: 0.75rem !important;
}

/// patch for WindiCSS
.group:hover .group-hover\:visible,
.visible {
  &,
  & * {
    visibility: visible !important;
  }
}

.text-weight-normal {
  font-weight: 400;
}

.w-full {
  width: 100% !important;
}
